<h1>All Our Trips</h1>
<h2>Welcome to my three most amazing trips taken with my wife. In this website, we leave our reviews of each trip and also capture user opinions on whether they would take the trip as well based on our reviews.</h2>


<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>